.input_container label {
  display: block;
}

.input_container textarea {
  padding: 10px;
  outline: 0;
  border: 0;
  border: 1px solid #d0d5dd;
  font-size: 1rem;
  border-radius: 8px;
  margin-top: 8px;
  box-sizing: border-box;
  width: 100%;
  min-height: 132px;
  height: fit-content;
}

.input_container textarea::placeholder {
  color: #667085;
}

.input_container textarea:focus {
  border: 1px solid #1570efed;
}
